<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.0.0-pre" targetFramework="net471" />
  <package id="OpenTK.GLControl" version="3.0.0-pre" targetFramework="net471" />
  <package id="WpfLightToolkit" version="1.0.2" targetFramework="net471" />
  <package id="Xamarin.Forms" version="3.0.0.354232-pre3" targetFramework="net471" />
  <package id="Xamarin.Forms.Platform.WPF" version="3.0.0.354232-pre3" targetFramework="net471" />
</packages>